@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --cta: hsl(356, 100%, 66%);
  --cta-hover-background: hsl(355, 100%, 74%);
  --headings: hsl(208, 49%, 24%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --footer: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --footer-background: hsl(240, 10%, 16%);

  /* Gradient */
  /* INTRO CTA NAV*/
  --gradient-very-light-red: #ff8f70;
  --gradient-light-red: #ff3d54;
  /* BACKGROUND BODY*/
  --gradient-dark-gray-blue: hsl(237, 17%, 21%);
  --gradient-dark-desaturated-blue: hsl(237, 23%, 32%);

  --mobile-dropdown-background: hsl(240, 2%, 95%);
}

img,
svg {
  max-width: 100%;
}
